
.form-section {
  margin-top: 5rem;
}

.form-section__container {
  display: flex;
  flex-direction: column;
  height: 517px;
}

@media (min-width: 1025px) {
  .form-section__container {
    width: 472px;
  }
}

.form-section h2 {
  font-weight: 400;
  color: var(--tertiary-color);
  font-size: 2.4rem;
  line-height: 24px;
  text-align: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.product-form__input {
  width: 100%;
  height: 58px;
  border-radius: 30px;
 
  border: 3px solid var(--border-color);
  outline: none;
  padding-left: 12.64px;

}
.product-form__input:focus {
  box-shadow: 0 0 0 0.4rem var(--azul-claro);
}

.product-form__input::placeholder {
  font-weight: 600;
  line-height: 20.8px;
  font-size: 1.6rem;
  color: var(--border-color);
}

.product-form__actions {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.product-form__button {
  border-radius: 15px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 26px;
  text-align: center;
  width: 100%;
  height: 55px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.product-form__button--submit {
  border: none;
  color: var(--white-color);
  background-color: var(--border-color);
}

.product-form__button--submit:hover {
  background: var(--azul-claro);
  color: var(--secondary-color);
}

.product-form__button--reset {
  border: 3px solid var(--border-color);
  color: var(--white-color);
  background: transparent;
}

.product-form__button--reset:hover {
  color: var(--secondary-color);
  border: 3px solid var(--azul-claro);
  background: var(--azul-claro);
} 