.form-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  .form-section {
    margin-bottom: 0;
  }
}

.form-section__container {
  min-height: 517px;
  /* padding: 2.5rem; */
}

@media (min-width: 430px) {
  .form-section__container {
    min-width: 430px;
    padding: 4rem;
  }
}

@media (min-width: 768px) {
  .form-section__container {
    max-width: 472px;
  }
}

.form-section h2 {
  font-weight: 400;
  color: var(--tertiary-color);
  font-size: 2.4rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: 4rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

}

.product-form__input {
  width: 295px;
  height: 58px;
  border-radius: 30px;
  /* border: none; */
  border: 3px solid var(--border-color);
  outline: none;
  padding-left: 12.64px;

}

.product-form__input:focus {
  /* outline: none; */
  box-shadow: 0 0 0 0.4rem var(--azul-claro);
}

@media (min-width: 430px) {
  .product-form__input {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .product-form__input {
    width: 392px;
  }
}

.product-form__input::placeholder {
  font-weight: 600;
  line-height: 20.8px;
  font-size: 1.6rem;
  color: var(--border-color);
}

.product-form__actions {
  display: flex;
  gap: 1.3rem;

}

.product-form__button {
  border-radius: 15px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 26px;
  text-align: center;
  width: 140px;
  height: 55px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

@media (min-width: 430px) {
  .product-form__button {
    width: 164px;
  }
}

@media (min-width: 768px) {
  .product-form__button {
    width: 188px;
  }
}

.product-form__button--submit {
  border: none;
  color: var(--white-color);
  background-color: var(--border-color);
}

.product-form__button--submit:hover {
  background: var(--azul-claro);
  color: var(--secondary-color);
}

.product-form__button--reset {
  border: 3px solid var(--border-color);
  color: var(--white-color);
  background: transparent;
}

.product-form__button--reset:hover {
  color: var(--secondary-color);
  border: 3px solid var(--azul-claro);
  background: var(--azul-claro);
}