.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.header__emoji,
.header__title {
  font-size: 2.4rem;
}

.header__title {
  line-height: 1.6rem;
  color: var(--secondary-color);
}

main {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1025px) {
  main {
    justify-content: center;
    flex-direction: row;
    gap: 7rem;
  }
} 